
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;700&display=swap');



body{
  margin: 0;
}
a{
  text-decoration: none;
}
.home{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.btn{
  padding: 5px 20px;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 100px;
  text-align: center;
  font-family: poppins;
  font-weight: 500;
}

.loading{
  
  padding: 10px;
  font-size: 30px;
  font-family: caveat;
}
.blog-list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-self: center;
  justify-content: center;
}

.blogBody{
  text-decoration: none;
  background: #000000;
  color: grey;
  border-radius: 5px;
  font-family: poppins;
  width: 500px;
  display: flex;
  padding: 10px 50px;
  justify-content: center;
  flex-direction: column;
  
}

.Head{
  color: tomato;
  align-self: center;
  font-size: 50px;
  font-weight: 600;
}
.blogTitle{
  color: tomato;
  align-self: center;
  font-size: 50px;
  font-weight: 600;
}
.blogbody{
  font-size: 30px;
  font-family: Caveat;
}
.blogAuthor{
  color: palegreen;
  font-size: 20px;
  align-self: flex-end;
  font-family: Caveat;
}
.create{
  padding: 10px 300px ;
  display: flex;
  flex-direction: column ;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #d4d4d4;
  border-radius: 5px;
  padding: 10px;

  
}
label{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}
input,textarea,select,option{
  border: none;
  width: 200px;
  padding: 5px;
  text-align: left;
  font-family: monospace;
}
.gap10{
  margin-top: 10px;
}
.gap20{
  margin-top: 20px;
}